html,
body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url("3d-Desktop-Backgrounds.jpg");
    min-height: 100%;
}
.pimg2{
    background-image: url("gNwbyJ.jpg");
    min-height: 400px;
}
.pimg3{
    background-image: url("sunset-proxima-7680x4320-10061.jpg");
    min-height: 400px;
}
.pimg1,
.pimg2,
.pimg3{
    min-height: 500px;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(23, 215, 173);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.textbg{
    background: #0e0d0d;
    color: #fcf8f8;
    padding: 20px;
}
.section{
    padding: 20px 80px;
    text-align: center;
}
.section-light{
    background-color: black;
    color: azure;
}